---
import { services } from "../../lib/services";
import Paragraph from "../layout/Paragraph.astro";
---

<ul class="services__slider">
  <li class="services__slider-item">
    <picture class="services__slider-img-container" id="fabri-1">
      <source
        srcset={services.especial.imagesUrls[0].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.especial.imagesUrls[0].vertical}
        alt="muebles de madera hechos a medida hechos en Mérida Yucatán por Aguilar Talleres Carpinteria"
      />
    </picture>
    <div id="fabri-txt">
      <h2 class="title--sm">{services.especial.title}</h2>
      <Paragraph>{services.especial.description}</Paragraph>
    </div>
    <picture class="services__slider-img-container" id="fabri-2">
      <source
        srcset={services.especial.imagesUrls[1].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.especial.imagesUrls[1].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <picture class="services__slider-img-container" id="fabri-3">
      <source
        srcset={services.especial.imagesUrls[2].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.especial.imagesUrls[2].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
  </li>
  <li class="services__slider-item">
    <picture class="services__slider-img-container" id="resi-1">
      <source
        srcset={services.residencial.imagesUrls[0].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.residencial.imagesUrls[0].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <picture class="services__slider-img-container" id="resi-2">
      <source
        srcset={services.residencial.imagesUrls[1].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.residencial.imagesUrls[1].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <div id="resi-txt">
      <h2 class="title--sm">{services.residencial.title}</h2>
      <Paragraph>{services.residencial.description}</Paragraph>
    </div>
    <picture class="services__slider-img-container" id="resi-3">
      <source
        srcset={services.residencial.imagesUrls[2].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.residencial.imagesUrls[2].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
  </li>
  <li class="services__slider-item">
    <picture class="services__slider-img-container" id="empre-1">
      <source
        media="(min-width: 800px)"
        srcset={services.empresarial.imagesUrls[0].horizontal}
      />
      <img
        class="services__slider-img-wrap"
        src={services.empresarial.imagesUrls[0].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <picture class="services__slider-img-container" id="empre-2">
      <source
        srcset={services.empresarial.imagesUrls[1].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.empresarial.imagesUrls[1].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <picture class="services__slider-img-container" id="empre-3">
      <source
        srcset={services.empresarial.imagesUrls[2].horizontal}
        media="(min-width: 800px)"
      />
      <img
        class="services__slider-img-wrap"
        src={services.empresarial.imagesUrls[2].vertical}
        alt="foto frontal del mueble"
      />
    </picture>
    <div id="empre-txt">
      <h2 class="title--sm">{services.empresarial.title}</h2>
      <Paragraph>{services.empresarial.description}</Paragraph>
    </div>
  </li>
</ul>

<style>
  /* Estilos comunes */
  .services__slider {
    flex: 3 1 100%;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    height: 100%;
    max-height: 100%;
    opacity: 0;
    animation: show 2.5s ease 1.2s forwards;
  }
  .services__slider::-webkit-scrollbar {
    display: none;
  }
  .services__slider-item {
    max-height: 100%;
    min-width: 100%;
    height: 100%;
    scroll-snap-align: center;
    display: grid;
    gap: var(--global-margin);
    padding: var(--global-margin);
  }
  .services__slider-img-container {
    overflow: hidden;
  }
  .services__slider-img-container > img {
    height: 100%;
    object-fit: cover;
  }
  #resi-txt,
  #empre-txt,
  #fabri-txt {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: end;
  }

  /* fabricacion */
  .services__slider-item:first-child {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr repeat(2, 1fr);
  }
  #fabri-1 {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
  }

  #fabri-txt {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }
  #fabri-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  #fabri-3 {
    grid-row: 2 / 4;
    grid-column: 2 / 3;
  }

  /* residencial */
  .services__slider-item:nth-child(2) {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 3fr 1fr;
  }
  #resi-1 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
  }
  #resi-2 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  #resi-txt {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    text-align: center;
  }
  #resi-3 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  /* empresarial */

  .services__slider-item:nth-child(3) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr min(3rem, 1fr);
  }
  #empre-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
  }
  #empre-2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  #empre-3 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  #empre-txt {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    text-align: right;
  }
</style>
