---
import Layout from "../layouts/Layout.astro";
import { pageSeoProperties } from "../lib/seoData.js";
---

<Layout
  title={pageSeoProperties.asistencia.title}
  socialTitle={pageSeoProperties.asistencia.socialTitle}
  description={pageSeoProperties.asistencia.description}
  socialImg={pageSeoProperties.asistencia.socialImgUrl}
  socialImgAlt={pageSeoProperties.asistencia.socialImgAlt}
  sitePath={pageSeoProperties.asistencia.sitePath}
>
  <section class="asistencia-wrapper">
    <div class="chatbot-container">
      <iframe
      src="https://www.chatbase.co/chatbot-iframe/5w3cGCBu7Pubzm-83qhVe"      
      frameborder="0"
      class="chatbot__embed"></iframe>
    </div> 
  </section>
</Layout>

<style>
  .asistencia-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .chatbot-container{
    border: var(--global-border-size) solid var(--global-border-color);
    padding: var(--global-margin);
    width: 90%;
    height: 85%;
  }
  .chatbot__embed {
    width: 100%;
    height: 100%;
   
  }
  
</style>
