---
import Layout from "../layouts/Layout.astro";
import { pageSeoProperties } from "../lib/seoData.js";
---

<Layout
  title={pageSeoProperties.asistencia.title}
  socialTitle={pageSeoProperties.asistencia.socialTitle}
  description={pageSeoProperties.asistencia.description}
  socialImg={pageSeoProperties.asistencia.socialImgUrl}
  socialImgAlt={pageSeoProperties.asistencia.socialImgAlt}
  sitePath={pageSeoProperties.asistencia.sitePath}
>
  <section class="asistencia-wrapper">
    <h1 class="asistencia__title">asistencia aguilar talleres carpinteria</h1>
    <div class="chatbot-container">
      <iframe
        src="https://widget.writesonic.com/CDN/index.html?service-base-url=https://api.botsonic.ai&token=4f5fab3a-0c8f-4b05-9d88-97fd7cc6e709&base-origin=https://bot.writesonic.com&instance-name=Botsonic&standalone=true&page-url=https://bot.writesonic.com/d4d54622-fdd4-4001-8d1e-d73dad93732a?t=connect&workspace_id=12506112-73b0-45a5-a068-9456cdf2fa3a"
        class="chatbot__embed"
        loading="lazy"></iframe>
    </div>
  </section>
</Layout>

<style>
  .asistencia-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: top;
    justify-content: center;
  }
  .asistencia__title {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .chatbot-container {
    width: 100%;
    height: 100%;
  }
  /* .chatbot-container {
    border: var(--global-border-size) solid var(--global-border-color);
    padding: var(--global-margin);
    width: 90%;
    height: 85%;
  } */
  .chatbot__embed {
    width: 100%;
    height: 100%;
  }
</style>
