---
import Layout from "../layouts/Layout.astro";
import { pageSeoProperties } from "../lib/seoData";
---

<Layout
  title={pageSeoProperties.cotizar.title}
  socialTitle={pageSeoProperties.cotizar.socialTitle}
  description={pageSeoProperties.cotizar.description}
  socialImg={pageSeoProperties.cotizar.socialImgUrl}
  socialImgAlt={pageSeoProperties.cotizar.socialImgAlt}
  sitePath={pageSeoProperties.cotizar.sitePath}
>
  <section class="cotizacion-wrapper">
    <h1 class="cotizacion__title">cotizar mueble</h1>
    <iframe
      src="https://form.jotform.com/230016463356046"
      class="cotizacion-container"
      title="formulario "
      loading="lazy"></iframe>
  </section>
</Layout>

<style>
  .cotizacion-wrapper {
    width: 100%;
    height: 100%;
  }
  .cotizacion__title{
    opacity: 0;
    width: 0;
    height: 0;
  }
  .cotizacion-container {
    width: 100%;
    height: 100%;
  }
</style>
