---
import { furnitures } from "../lib/furnitures";
---

<div class="scroll">
  <ul class="scroll__wrapper">
    <li class="scroll__img-container">
      <img src={furnitures.comedores[4].foto} alt="Imagen 1" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.cocinas[1].foto} alt="Imagen 2" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.camas[4].foto} alt="Imagen 3" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.otros[7].foto} alt="Imagen 4" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.cocinas[16].foto} alt="Imagen 5" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.camas[1].foto} alt="Imagen 6" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.closets[8].foto} alt="Imagen 7" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.tvs[3].foto} alt="Imagen 8" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.cocinas[0].foto} alt="Imagen 9" />
    </li>
    <li class="scroll__img-container">
      <img src={furnitures.otros[18].foto} alt="Imagen 10" />
    </li>
  </ul>
</div>

<style>
  .scroll {
    height: 40%;
    overflow: hidden;
  }

  .scroll__wrapper {
    display: flex;
    width: calc(30rem * 10);
    animation: scroll-horizontal 30s linear infinite alternate;
    height: 60%;
  }
  .scroll__img-container {
    width: 30rem;
    overflow: hidden;
  }
  .scroll__img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
</style>
