---
import { furnitures } from "../lib/furnitures";
---

<div class="scroll">
  <div class="left">
    <ul class="scroll__wrapper">
      <li class="scroll__img-container">
        <img src={furnitures[4].url} alt="Imagen 1" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[7].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[12].url} alt="Imagen 2" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[19].url} alt="Imagen 4" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[33].url} alt="Imagen 3" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[9].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[16].url} alt="Imagen 5" />
      </li>
    </ul>
    <ul class="scroll__wrapper">
      <li class="scroll__img-container">
        <img src={furnitures[22].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[11].url} alt="Imagen 6" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[80].url} alt="Imagen 7" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[36].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[5].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[0].url} alt="Imagen 9" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[18].url} alt="Imagen 10" />
      </li>
    </ul>
  </div>
  <div class="right">
    <ul class="scroll__wrapper">
      <li class="scroll__img-container">
        <img src={furnitures[8].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[15].url} alt="Imagen 1" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[38].url} alt="Imagen 2" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[25].url} alt="Imagen 6" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[18].url} alt="Imagen 7" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[8].url} alt="Imagen 4" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[14].url} alt="Imagen 5" />
      </li>
    </ul>
    <ul class="scroll__wrapper">
      <li class="scroll__img-container">
        <img src={furnitures[6].url} alt="Imagen 6" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[39].url} alt="Imagen 7" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[35].url} alt="Imagen 11" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[24].url} alt="Imagen 8" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[70].url} alt="Imagen 9" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[66].url} alt="Imagen 12" />
      </li>
      <li class="scroll__img-container">
        <img src={furnitures[17].url} alt="Imagen 10" />
      </li>
    </ul>
  </div>
</div>

<style>
  .scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    animation: expandFromCenter 0.5s ease 1.5s forwards;
    opacity: 0;
  }

  .scroll__wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    max-width: 20rem;
  }
  .scroll__img-container {
    overflow: hidden;
    min-height: 25rem;
  }
  .scroll__img-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  /* primera y tercera columna */
  .left .scroll__wrapper:nth-child(1),
  .right .scroll__wrapper:nth-child(1) {
    animation: scroll-vertical-large 25s linear infinite alternate;
  }

  /* posicionar hasta bajo segunda y cuarta columna */
  .left .scroll__wrapper:nth-child(2),
  .right .scroll__wrapper:nth-child(2) {
    /* transform: translateY(calc(70% - 100vh)); */
    animation: scroll-vertical-large 25s linear infinite alternate-reverse;
  }
  .scroll__img-container:nth-child(even) {
  }

  .left,
  .right {
    flex: 1;
    display: flex;
    gap: 1rem;
  }
  .left {
    justify-content: left;
    padding-left: var(--global-margin);
  }
  .right {
    justify-content: right;
    padding-right: var(--global-margin);
  }

  /* adaptar  mobile */
  @media screen and (max-width: 600px) {
    .scroll__img-container {
      min-height: 12rem;
    }
    .scroll__wrapper:nth-child(2) {
      transform: translateY(calc(100% - 100vh));
    }

    .left .scroll__wrapper:nth-child(1),
    .right .scroll__wrapper:nth-child(1) {
      animation: scroll-vertical-short 25s linear infinite alternate;
    }

    .left .scroll__wrapper:nth-child(2),
    .right .scroll__wrapper:nth-child(2) {
      /* transform: translateY(calc(70% - 100vh)); */
      animation: scroll-vertical-short 25s linear infinite alternate-reverse;
    }
  }
</style>
