---
interface Props {
  sitePath: string;
  title: string;
  socialTitle: string;
  description: string;
  socialImg: string;
  socialImgAlt: string;
}

const { title, socialImg, description, socialImgAlt, socialTitle, sitePath } =
  Astro.props;

import "../styles/reset.css";
import "../styles/global.css";
import "../styles/headings.css";
import "../styles/animations.css";
import "../styles/images.css";

import { ViewTransitions } from "astro:transitions";

import NavMain from "../components/layout/nav/NavMain.astro";
import Loader from "../components/Loader.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- icono responsive -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- SEO TAGS -->
    <meta name="description" content={description} />
    <!-- Control the behavior of search engine crawling and indexing -->
    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <!-- Geo tags -->
    <meta name="ICBM" content="20.9671, -89.6243" />
    <meta name="geo.position" content="20.9671;-89.6243" />
    <meta name="geo.region" content="MX-YUC" />
    <meta name="geo.placename" content="Mérida, Yucatán" />

    <!-- social link tags -->
    <meta property="og:url" content=`https://aguilartalleres.com${sitePath} ` />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={socialTitle} />
    <meta property="og:image" content={socialImg} />
    <meta property="og:image:alt" content={socialImgAlt} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content="Aguilar Talleres Carpinteria" />
    <meta property="og:locale" content="es_MX" />

    <meta name="generator" content={Astro.generator} />
    <ViewTransitions />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <NavMain transition:persist />
    <Loader />
    <style is:global>
      code {
        font-family:
          Menlo,
          Monaco,
          Lucida Console,
          Liberation Mono,
          DejaVu Sans Mono,
          Bitstream Vera Sans Mono,
          Courier New,
          monospace;
      }
      body {
        height: 100vh;
        position: relative;
      }
      main {
        max-height: calc(100% - var(--nav-height));
        width: 100%;
        height: calc(100% - var(--nav-height));
        position: fixed;
        top: 0;
        left: 0;
      }
    </style>
  </body>
</html>
