---
import Layout from "../../layouts/Layout.astro";
import SliderContainer from "../../components/slider-projects/SliderContainer.astro";
import { pageSeoProperties } from "../../lib/seoData";
---

<Layout
  title={pageSeoProperties.proyectos.title}
  socialTitle={pageSeoProperties.proyectos.socialTitle}
  description={pageSeoProperties.proyectos.description}
  socialImg={pageSeoProperties.proyectos.socialImgUrl}
  socialImgAlt={pageSeoProperties.proyectos.socialImgAlt}
  sitePath={pageSeoProperties.proyectos.sitePath}
>
  <div class="proyect-container">
    <header class="proyect__header">
      <h1 class="title--md">ultimos proyectos</h1>
      <p class="proyect__text">
        Explora la selección que hemos preparado para ti
      </p>
    </header>
    <SliderContainer />
  </div>

  <style>
    .proyect-container {
      height: 100%;
      max-height: 100%;
      display: flex;
      flex-direction: column;
    }
    .proyect__header {
      display: flex;
      align-items: center;
      padding: var(--global-margin);
      justify-content: space-between;
      border-bottom: var(--global-border-size) solid var(--global-border-color);
      flex: 0 0 auto;
    }
    .proyect__text {
      font-size: clamp(1.5rem, 3vw, 2.4rem);
      width: calc((100vw - var(--nav-height)) / 2);
      max-width: 50rem;
      font-family: var(--font-light);
      text-align: center;
    }
  </style>
</Layout>
